# Competition data (Zindi property — not redistributable)
data/Train.csv
data/Test.csv
data/climate_features.csv
data/SampleSubmission.csv
data/climate_health_starter_notebook_.ipynb

# Derived data & cache
data/*.parquet
data/*.npy
data/*.csv
data/nasa_cache/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Optuna study DB
*.db
